@import url("lighthouse-theme.css");

html {
  position: relative;
  min-height: 100%;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.2rem rgba(93, 139, 244, 0.35);
}
