@{
    ViewData["Title"] = "Access denied";
    Layout = "_Layout";
}

<h1 class="h3">Access denied</h1>
<p>You do not have permission to view this page.</p>
<a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">Home</a>
